body {
  font-family: Roboto, Raleway, sans-serif;
  font-weight: bold;
  size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #2e2f42;

  /* Header */
}
.header {
}
.header-naw {
}
.header-link {
  width: 44px;
  height: 21px;

  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #4d5ae5;

  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
}
.accent {
  color: #2e2f42;
}
.header-list {
}
.header-item {
}
.address {
}
.address-item {
}
.mail {
}
.tel {
}
/* Main */
.page {
}
/* Section1 */
.title {
}
.button {
}
/* Section2 */
.page-link {
}
.page-item {
}
.page-subtitle {
}
.page-text {
}
/* Section3 */
.subtitle {
}
.img-list {
}
.img-item {
}
.img {
}
/* Section4 */
.team-list {
}
.team-item {
}
.team-img {
}
/* Footer */
.footer {
}
.footer-link {
}
.footer-studio {
}
.footer-text {
}
